run = "npm run start"
modules = ["nodejs-20", "web", "nix"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[languages]

[languages.bash]
pattern = "**/{*.sh,*.bash}"

[languages.bash.languageServer]
start = "bash-language-server start"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
